version: '3.8'

services:
  api:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: popcorn_backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=mongodb://root:example@mongodb:27017/popcorn?authSource=admin
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: popcorn_mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=1234
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: